################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/True.Kentico.Forms/bin/Debug
/True.Kentico.Forms/bin
/True.Kentico.Forms/obj/Debug
/TrueMVCForms/bin
