<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CMSTestConnectionString" connectionString="Data Source=TDSQL01\SQLSERVER2014INS,51609;Initial Catalog=BobMartin_DEV_Vetcare;Integrated Security=False;User ID=devuser;Password=password;Connect Timeout=60"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
