@using True.Kentico.Forms.Forms.FormParts
@using True.Kentico.Forms.Html
@using True.Kentico.Forms.Html.Extensions

@model Form
@{
    var KenticoForm = new KenticoForm<Form>(Model);
}

@KenticoForm.BeginForm("Save", "Form", Model.SubmissionOptions)

<div id="form-result">
    
    @KenticoForm.RenderFormControls(Model.Controls)

    @KenticoForm.SubmitButton(Model.SubmitText)

</div>

@KenticoForm.EndForm()

<hr />

<div data-submit-message></div>