@using True.Kentico.Forms.Forms.FormParts
@using True.Kentico.Forms.Html
@using True.Kentico.Forms.Html.Extensions
@using True.Kentico.Forms.Infrastructure

@model Form


@Html.KenticoForm().BeginForm("FormResult", "Home", Model.Name, Model.SubmissionOptions)

<div id="form-result">

    @Html.KenticoForm().RenderFormControls(Model.Controls)

    @Html.KenticoForm().SubmitButton(Model.SubmitText)

</div>

@Html.KenticoForm().EndForm()

<hr />

<div data-submit-message></div>